* {
    box-sizing: border-box;
}

/* == GENERAL == */
.title {
    font-size: 1.5em;
}



/* == Board == */
#boardBox {
    position: sticky;
    top: 1em;
    width: 50vw;
    height: 50vw;
    min-width: 300px;
    min-height: 300px;
    max-width: calc(100vh - 2em);
    max-height: calc(100vh - 2em);
    overflow: hidden;
    margin: auto;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#board .case {
    z-index: 50;
    background: #fff;
    box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.05), inset -2px -2px 0 #38434c;
}

#board .obstacle {
    background-color: #63758c;
    z-index: 100;
}

#board .movementPossible {
    background-color: rgba(126, 246, 5, 0.5);
    z-index: 100;
}

.case, .obstacle, .movementPossible {
    width: 100%;
    height: 100%;
    background-size: calc(10vw - 4px);
    border-radius: 4px;
}

/* == Players == */
.imgPlayer {
    width: 60px;
    max-width: 100px;
    height: auto;
}
/* == Weapons == */
.weapons_scramasaxe {
    width: 80px;
    height: 80px;
    background-image: url("images/weapons_scramasaxe.png");
    background-repeat: no-repeat;
    background-position: center;
}

.weapons_hammer {
    width: 80px;
    height: 80px;
    background-image: url("images/weapons_hammer.png");
    background-repeat: no-repeat;
    background-position: center;
}
/* axe = hache */
.weapons_axe {
    width: 80px;
    height: 80px;
    background-image: url("images/weapons_axe.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* sword = epée */
.weapons_sword {
    width: 80px;
    height: 80px;
    background-image: url("images/weapons_sword.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* == MEDIA QUERIES == */
