/* =============================== */
/* ======= Game V2 GENERAL ======= */
/* =============================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 1.5em;
}

ul.rules {
  padding-left: 20px;
}

/* ======= BOARD ======= */

#board-container {
  max-width: 700px;
  min-width: 320px;
  margin: auto;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#board::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

#board > *:first-child{
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.cell {
  background: #fff;
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.05), inset -2px -2px 0 #38434c;
  border-radius: 0.25em;
}

.card {
  border: none;
  background-color: inherit;
}

.accessible {
  background-color: rgb(128, 250, 246);
  cursor: pointer;
  animation: zoomIn 1s 1;
}

.obstacle {
  background-color: #63758c;
}

/* ======= WEAPONS ======= */

.scramasaxe {
  background-image: url("../images/weapons/weapons_scramasaxe.png");
  background-size: cover;
}

.hammer {
  background-image: url("../images/weapons/weapons_hammer.png");
  background-size: cover;
}

.axe {
  background-image: url("../images/weapons/weapons_axe.png");
  background-size: cover;
}

.sword {
  background-image: url("../images/weapons/weapons_sword.png");
  background-size: cover;
}

/* ======= PLAYERS ======= */

.imgPlayer {
  width: 80px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.hero1 {
  background-image: url("../images/players/viking_onBoard_1.png");
  background-color: deeppink;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar1 {
  background-image: url("../images/players/viking1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
}

.hero2 {
  background-image: url("../images/players/viking_onBoard_2.png");
  background-color: orange;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar2 {
  background-image: url("../images/players/viking2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
}

.standard-size-img {
  width: 70px;
  height: 70px;
}

/* ======= PLAYERS SCORES TABLE ======= */

.battle {
  border: 3px solid rgb(112, 157, 165);
  background-color: rgb(23, 162, 184);
}

.life {
  position: relative;
  height: 1.25em;
  width: 100%;
  box-sizing: content-box;
}


.btn, .fight-btn {
  margin: 0.5em;
  font-weight: 500;
  color: #444;
  border: none;
  background-image: linear-gradient(to bottom, #fff, #d1dfe5);
  border-radius: 25px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  transition-duration: 0.2s;
  outline: none;
}

.btn {
  padding: 0.5em 1em;
  background-image: linear-gradient(to bottom, #fff, #d1dfe5);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.hero-defense img {
  visibility: hidden;
  position: absolute;
  max-height: 40px;
  top: 50%;
  right: 5%;
  transform: translate(-25%, -50%);
}

.hero-defense {
  background-image: url("../images/weapons/lance-gungnir_large.png");
}

.hero1-barre-life, .hero2-barre-life {
  height: 100%;
  width: 100%;
}

.hero1-barre-life {
  background: linear-gradient(to right, rgb(255, 220, 95), rgb(255, 96, 33));
  border: 1px solid #f48135;
}

.hero2-barre-life {
  background: linear-gradient(to right, rgb(95, 255, 250), rgb(33, 81, 255));
  border: 1px solid #356bf4;
}

.fight-btn:active, .btn:active {
  transform: scale(0.9);
}

.fight-btn:hover {
  background-color: #FEE140;
  background-image: linear-gradient(225deg, #FEE140 0%, #FA709A 100%);
}

.fight-btn {
  border-style: none;
  visibility: hidden;
  /*display: none;*/
}

.fight-btn {
  padding: 0.5em;
  background-image: linear-gradient(to bottom, #fff, #d1dfe5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.reload {
  background: #edb4a1 !important;
  color: #2c2137 !important;
}

/* == Animations == */

/* == ./Animations == */

/* == MEDIA QUERIES == */
@media (max-width: 362px) {
  #stats {
    margin-top: 1em;
  }

  .imgPlayer {
    width: 70px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
  }

  .btn {
    margin: 0.75em;
    padding: 0.5em 1em;
    font-weight: 500;
    font-size: 1em;
  }
}