* {
    box-sizing: border-box;
}
.board {
    background-color: #efefef;
    padding: 2em;
}

.case {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #000;
    margin-top: -6px;
    background-color: #efefef;
}

.case-move {
    background-color: #5f9ea0;
}

.case-blocked {
    background-color: #2a3237;
}